<!DOCTYPE html>
<html>
  <title>Communify</title>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/icon.png" />
  </head>
  <body>
    <h1>Connect to Telegram</h1>
    <p>Click the button below to connect your Telegram account to Communify.</p>
    <a href="<%= url %>">
      <button>Connect</button>
    </a>
  </body>
</html>
